*,
*::before,
*::after{
    box-sizing: border-box;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}



button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
}

a {
    color: currentColor;
    text-decoration: none;}
    
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p{
    margin: 0;
}
.container {
max-width: 1158px;
padding: 0 15px;
margin: 0 auto;
}
       
.header .container {
display:flex;
align-items: center;
gap: 332px;
}
.team,
.benefits,
.portfolio {
    padding: 120px 0;
}
.team-title,
.portfolio-title{
    margin: 0 auto;
    margin-bottom: 72px;
        font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
            font-family: "Roboto", sans-serif;
}


.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}


.accent {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2e2f42;

}

.web {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    margin-right: 76px
}

.menu {
 display: flex;
 align-items: center;
 gap: 40px;
 
}



.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    display: block;
    padding: 24px 0;
    position: relative;


}

.menu-link:focus,
.menu-link:hover {
    color: #404bbf;
}

.menu-link.active {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;


    display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
}


address .address-list{
    display: flex;
    gap: 40px;
}
.address-iteam {
     
}


.address-mail {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
list-style-type: none;
font-style: normal;
display: flex;
align-items: center;
 justify-content: center;
    width: 100%;
    height: 100%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.address-mail:hover,
.address-mail:focus {
    color: #404bbf
}


.hero{
    padding: 188px 0;
    background-color: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/office.jpg);
    
background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
margin: 0 auto;
}
.hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        font-family: "Roboto", sans-serif;
        max-width: 496px;
        display: block;
        margin: 0 auto 48px;        
}

.hero-btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        background-color:#4d5ae5;
    border-radius: 4px;
        padding: 16px 32px;
    min-width: 169px;
    height: 56px;
        display: block;
        border: none;
         margin: 0 auto;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.solution-btn:hover,
.solution-btn:focus {
    background-color: #404BBF;
}

.benefits{
 padding: 120px 0;
background: #fff;
}
.benefits-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.benefits-iteams{
width: 264px;
}
.benefits-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
        margin-bottom: 8px;
}

.benefits-title {
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
}

.benefits-desc {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-family: "Roboto", sans-serif;
}

.team {
    background-color: #F4F4FD;
}

.container.team-cont{
   
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap:24px;
}
.socials.team-socials{
    display: flex;
        flex-wrap: wrap;
        gap: 24px;
}

.team-iteam{
    width: calc((100% - 24px * 3) / 4);
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}



.team-wrap{
    padding: 32px 0;
}
.team-ill{
max-width: 100%;
object-fit: cover;
}

.team-lists-headind{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: "Roboto", sans-serif;
    
}

.socials {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.socials-item {
    width: 40px;
     height: 40px;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials.team-socials{
  
}
.socials-team-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
        height: 40px;
    border-radius: 50%;
    padding: 32px 0;
}
.socials-item .socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid transparent;
background-color: #4d5ae5;
    /* transition: 250ms ease-in;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}



.socials-link:hover .socials-icon-team,
.socials-link:focus .socials-icon-team {
    fill: #4d5ae5;
}
.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: #4d5ae5;
    transition: 250ms ease-in;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}
.socials-link:hover,
.socials-link:focus {
    background-color: #404bbf;
}
.social-team-wraper{
    display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
      
}
.socials-icon-team{
    fill: #f4f4fd;
}



.portfolio{
    

}

.portfolio-list{
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}

.portfolio-item{
    width: calc((100% - 48px)/3);
    border-radius: 4px;
    background: #fff;
    text-align: start;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.portfolio-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.wrapper-overlay {
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);
        transition: 500ms ease-in;
        transition-property: transform;
        display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            
            padding: 32px;
        font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
            transition: 250ms ease-in;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
                padding: 40px 32px;
                background-color: #4d5ae5;
            
}
.portfolio-item:hover .overlay {
    transform: translateY(0);
    background-color: #4d5ae5;
}

.team-wrap .text{
    margin-bottom: 8px;
}
.portfolio-wrap{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;;
    border-top: none;
    gap: 8px;
}


.portfolio-list-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 8px;
}



.footer {
    background: #2e2f42;
    padding: 100px 0;
}
.container-footer{
    display: flex;
    align-items: baseline;
    
}
.web-p-wrapper{
   margin-right: 120px;
}


.footer-web{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #4d5ae5;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        margin-bottom: 16px;
}
.footer-studio{
color: #f4f4fd;
text-transform: uppercase;
}


.footer-text {
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: "Roboto", sans-serif;
    width: 264px;
}
.socials-icon {
    fill: #f4f4fd;
    transition: 250ms ease-in;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
    
}

.footer-caption{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        display: flex;
        align-items: baseline;
margin-bottom: 16px;

}
.footer-socials{
    display: flex;
        gap: 16px;
        background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials .socials-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-socials.socials-item{
width: 40px;
 height: 40px;
}
.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: #4d5ae5;
}
.footer-social .social-link{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials .socials-link:hover,
.footer-socials .socials-link:focus {
    background-color: #31d0aa;
}
