.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    margin:0 auto;
    width: 1470;

}

ul,
.menu,
.address
 {
    list-style-type: none;
    font-style: normal;
    text-decoration: none;
}

address {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
        list-style-type: none;
        font-style: normal;
}
.menu{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        list-style-type:none;
        font-style:normal;
        text-decoration:none;
        font-family: "Roboto", sans-serif;
}
.menu:hover,
.menu:focus
{
    color: #404bbf
}
.title-button {
    background: #2e2f42;
}

h1 {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        font-family: "Roboto", sans-serif;
        text-align: center;
}


.button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        min-height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;

    
}
.button:hover, 
.button:focus{
    background-color: #404BBF;
}
.title{
        font-family: "Roboto", sans-serif;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-weight: 500;
        font-size: 20px;
}
.subtitle{
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
}
.subject{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.caption {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    background-color: #F4F4FD;
    text-transform: capitalize;
}
.heading{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
}
.footer{
    background: #2e2f42;
    /* width: 1440px;
        height: 312px; */
}
.text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-family: "Roboto", sans-serif;
}
.end-text{
    color: #f4f4fd;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-family: "Roboto", sans-serif;
}
.lists{
    background-color: #FFFFFF
}
.accent{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.web {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    text-decoration: none;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
nav{
    width: 1440px;
    margin: 0 auto;

}
.end-web{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        text-decoration: none;
}
.end-studio{
color: #f4f4fd;
}


.menu {
    display: inline
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    text-decoration: none;
}
/* .mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-family: "Roboto", sans-serif;
    flex-direction: row;
    text-decoration: none;
} */

/* .nav{
    list-style-type: none;
    width: 1440px;
        height: 72px;
} */