*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 273px;
    width: 1440px;

}
h1,
h2,
h3{
    margin: 0;
}
.container {
max-width: 1440px;
padding: 0 24px;
margin: 0 auto;
}
       
.header .container {
display:flex;
align-items: center;
flex-shrink: 0;
}


ul{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    text-decoration: none;
}

main{
flex-grow: 1;
}

footer{

}
.header{
    display: flex;
}

.header-nav{
display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.accent {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2e2f42;

}

.web {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    display: flex;

    align-items: center;
    justify-content: flex-start;

}

.menu {
 display: flex;
 align-items: center;
gap: 40px;
}
.menu-iteam{
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    display: block;
    padding: 24px 0;


}

.menu-link:focus,
.menu-link:hover {
    color: #404bbf;
}


.address-list{
    display: flex;
    gap: 40px;
}
.addres-iteam {
     
}


.address-mail {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
list-style-type: none;
font-style: normal;
}

.address-mail:hover,
.address-mail:focus {
    color: #404bbf
}

.solution{
    background: #2e2f42;
}
.solution.container{
    max
}

.solution-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        font-family: "Roboto", sans-serif;
}

.solution-btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        background: #4d5ae5;   
}

.solution-btn:hover,
.solution-btn:focus {
    background-color: #404BBF;
}

.benefits{

}

.benefits-title {
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
}

.team {
    background-color: #F4F4FD;
}

.team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
}

.lists {
    background-color: #FFFFFF
}

.team-lists-headind{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
}
.portfolio{

}
.portfolio-title{
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
}
.portfolio-list-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
}

.text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-family: "Roboto", sans-serif;
        margin: 0 auto;
}

.footer {
    background: #2e2f42;
}

.footer-web{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #4d5ae5;
        text-decoration: none;
        text-transform: uppercase;
}
.footer-studio{
color: #f4f4fd;
text-transform: uppercase;
}
.footer-text {
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: "Roboto", sans-serif;
}
